* {
    margin: 0;
    /* transition-duration: 0.1s; */
    text-align: justify;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.up {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 85vh;
    background: orange;
}

.down {
    width: 100vw;
    height: 15vh;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    flex-direction: row;
}

li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}

li:hover {
    background-color: #111;
}

#sd {
    animation-name: color;
    animation-duration: 45s;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: Times New Roman;
    background-color: orangered;
}

#sd1 {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    /* color: rgb(127, 15, 225); */
    padding-bottom: 5px;
}

#sd2 {
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}

@keyframes color {
    0% {
        background-color: red;
    }
    12.5% {
        background-color: orange;
        color: rgb(86, 25, 209);
    }
    25% {
        background-color: orangered;
        color: rgb(229, 187, 35);
    }
    37.5% {
        background-color: rgb(208, 55, 55);
        color: rgba(232, 232, 24, 0.807);
    }
    50% {
        background-color: brown;
        color: white;
    }
    62.5% {
        background-color: rgb(208, 55, 55);
        color: rgba(232, 232, 24, 0.807);
    }
    75% {
        background-color: orangered;
        color: rgb(229, 187, 35);
    }
    87.5% {
        background-color: orange;
        color: rgb(86, 25, 209);
    }
    100% {
        background-color: orangered;
    }
}

@keyframes log1 {
    10% {
        color: aliceblue;
    }
    20% {
        color: azure;
    }
    30% {
        color: bisque;
    }
    40% {
        color: blanchedalmond;
    }
    50% {
        color: white;
    }
    60% {
        color: cornsilk
    }
    70% {
        color: azure;
    }
    80% {
        color: bisque;
    }
    90% {
        color: blanchedalmond;
    }
    100% {
        color: antiquewhite;
    }
}

.home {
    width: 80%;
    margin-left: 10%;
    font-size: 25px;
}

.shop {
    font-size: 0px;
    width: 0px;
}

.about {
    font-size: 0px;
    width: 0px;
}

.log {
    font-size: 0px;
    width: 0px;
}

#homdt {
    text-align: justify;
}

.contact {
    margin-left: 9%;
}


/* .................................. */

#two {
    height: 30vh;
    background-color: black;
    padding: 30px;
    display: flex;
    color: white;
    justify-content: space-evenly;
}

#two div span {
    text-transform: uppercase;
    font-size: 20px;
    color: rgb(83, 192, 83);
    font-weight: bolder;
}

#address {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#socials {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#newsletter {
    width: 30%;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

footer input[type="text"] {
    width: 70%;
    padding: 10px;
    border: none;
}

footer input[type="submit"] {
    width: 74.2%;
    padding: 10px;
    border: none;
    background-color: rgb(83, 192, 83);
    color: white;
    border: 1px solid rgb(83, 192, 83);
}

footer input[type="submit"]:hover {
    background-color: black;
    color: rgb(83, 192, 83);
}

#two div p img {
    width: 15px;
}

footer a {
    color: white;
    text-decoration: none;
}

#three {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 5vh;
}

footer {
    width: 100vw;
    height: 15vh;
}


/* ABOUT ME CSS */

.abt {
    width: 0px;
    height: 0px;
}

.about {
    display: flex;
    flex-direction: row;
}
